.theme-dark {
  --background-primary: #292929;
  --background-primary-alt: #252525;
  --background-secondary: #252525;
  --background-secondary-alt: #222222;
  --background-accent: #000;
  --background-modifier-border: #494949;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #539126;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #ff6765;
  --text-accent-hover: #ff6461;
  --text-normal: #e4e4e4;
  --text-muted: #bebebe;
  --text-faint: #a7a7a7;
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: #81818179;
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: #000000;
  --interactive-normal: #ffffff;
  --interactive-hover: #ffffff;
  --interactive-accent: #ffffff;
  --interactive-accent-rgb: 177, 56, 54;
  --interactive-accent-hover: rgb(177, 50, 47);
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --panel-border-color: #18191e;

  --gray-1: #5C6370;
  --gray-2: #abb2bf;
  --red: #e06c75;
  --orange: #d19a66;
  --green: #98c379;
  --aqua: #3e85a7;
  --purple: #c678dd;
  --blue: #61afef;
  --yellow: #e5c07b;
}

body {
  -webkit-font-smoothing: auto;
}

.setting-item {
  border-top: none;
}

.workspace-tab-header {
  color: var(--text-faint);
}

/*Note Title Color*/
.workspace-leaf.mod-active .view-header-title{
  color:#eeeeee;
}

.checkbox-container.is-enabled {
  background-color: var(--aqua);
}

/*Divider color*/
.markdown-preview-view hr {
  background-color: #3e85a7;
}

/*Bullet list relatinship lines*/
.cm-hmd-list-indent .cm-tab, ul ul { position: relative; }
.cm-hmd-list-indent .cm-tab::before, ul ul::before {
 content:'';
 border-left: 1px solid var(--background-modifier-border); 
 position: absolute;
}
.cm-hmd-list-indent .cm-tab::before { left: 0; top: -5px; bottom: -4px; 
}
ul ul::before { left: -11px; top: 0; bottom: 0; 
} 

/*Backlink and search result page title color*/
.search-result-file-title {
  color: #ff615e;
}

/*Bullet List Padding*/
li {
  padding-top: 3px;
}

/*Enlarge Image*/
.markdown-preview-view img:active {
  -webkit-transform:scale(1.5);
  transform:scale(1.5);
  
}


.document-search-button {
  color: var(--text-on-accent)
}

.document-search-button:hover {
  color: var(--interactive-accent-hover)
}

.tag, .tag:hover {
  color: var(--yellow);
  background-color: var(--background-primary-alt);
  padding: 2px 4px;
  border-radius: 4px;
}

.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-muted);
  border-radius: 2px;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  outline: none;
  margin-right: 4px;
  margin-bottom: 2px;
  cursor: pointer;
  vertical-align: baseline;
}

.markdown-preview-view .task-list-item-checkbox:checked {
  border: none;
  background-color: var(--aqua);
}

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: ' ';
  position: absolute;
  background-color: white;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 14 14\'%3E%3Cpolygon points=\'5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039\'%3E%3C/polygon%3E%3C/svg%3E');
}

.nav-file-title, .nav-folder-title {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.nav-file-title-content, .nav-folder-title-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

blockquote {
  margin: 20px 0;
}

body {
  --font-monospace: 'Fira Code', 'Source Code Pro', monospace;
}

mjx-container[jax='CHTML'] {
  text-align: left;
  outline: none;
  font-size: 20px;
}

.cm-s-obsidian pre.HyperMD-codeblock,
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-math:not(.cm-formatting-math-begin):not(.cm-formatting-math-end),
.markdown-preview-view code {
  color: inherit;
}

.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder {
  font-weight: 600;
  font-style: normal;
}

.markdown-preview-view code {
  vertical-align: text-top;
}

.markdown-preview-section:not(:first-child) h1,
.markdown-preview-section:not(:first-child) h2,
.markdown-preview-section:not(:first-child) h3,
.markdown-preview-section:not(:first-child) h4,
.markdown-preview-section:not(:first-child) h5,
.markdown-preview-section:not(:first-child) h6 {
  margin-top: 40px !important;
}

h1, h2, h3, h4, h5, h6, strong, b, .view-header-title {
  font-weight: 600;
}

.workspace > .workspace-split > .workspace-leaf:first-of-type:last-of-type .view-header {
  border: none;
}

.status-bar, .side-dock.mod-right, .side-dock.mod-left {
  border-color: var(--panel-border-color);
  border-width: 1px;
}

.status-bar {
  --bar-vertical-padding: 4px;
  --bar-height: calc(22px + (var(--bar-vertical-padding) * 2));
  line-height: 20px;
  padding: 0 20px;
  height: var(--bar-height);
  max-height: var(--bar-height);
  min-height: var(--bar-height);
  overflow: hidden;
}

.status-bar-item {
  margin: auto 0;
}

.status-bar-item > * {
  padding-top: var(--bar-vertical-padding) !important;
  padding-bottom: var(--bar-vertical-padding) !important;
}

.nav-file.is-active {
  --background-secondary-alt: var(--aqua);
  --text-normal: #ffffff;
}

.nav-file:not(.is-active):hover .nav-file-title,
.nav-folder:hover .nav-folder-content {
  background-color: transparent;
}

.side-dock-plugin-panel-inner {
  padding-left: 6px;
}

a,
.markdown-preview-view .internal-link {
  text-decoration: none;
}

a:hover,
.markdown-preview-view .internal-link:hover {
  text-decoration: underline;
}

.theme-dark :not(pre) > code[class*='language-'],
.theme-dark pre[class*='language-'] {
  background: var(--background-primary-alt);
}

.theme-light :not(pre) > code[class*='language-'],
.theme-light pre[class*='language-'] {
  background: var(--background-primary);
  box-shadow: inset 0 0 0 1px var(--background-primary-alt);
  border-radius: 4px;
}

.markdown-preview-view blockquote {
  border-radius: 4px;
  border: 1px solid #3e85a7;
  border-left-width: 5px;
}

.markdown-preview-view .markdown-embed,
.markdown-preview-view .file-embed {
  margin: 0;
  border-radius: 4px;
}

.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string {
  background: transparent;
}

body:not(.is-grabbing) .nav-file:not(.is-active) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder:not(.is-active) .nav-folder-title:hover {
  --text-normal: var(--text-muted);
  --background-secondary-alt: var(--background-secondary);
}

/* Source: https://github.com/AGMStudio/prism-theme-one-dark */

code[class*='language-'],
pre[class*='language-'] {
  text-align: left !important;
  white-space: pre !important;
  word-spacing: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  line-height: 1.5 !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em !important;
  margin: .5em 0 !important;
  overflow: auto !important;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: .1em !important;
  border-radius: .3em !important;
  white-space: normal !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--gray-1) !important;
}

.token.punctuation {
  color: var(--gray-2) !important;
}

.token.selector,
.token.tag {
  color: var(--red) !important;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: var(--orange) !important;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: var(--green) !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--aqua) !important;
}

.token.atrule,
.token.keyword {
  color: var(--purple) !important;
}

.token.function,
.token.macro.property {
  color: var(--blue) !important;
}

.token.class-name {
  color: var(--yellow) !important;
}

.token.regex,
.token.important,
.token.variable {
  color: var(--purple) !important;
}

.token.important,
.token.bold {
  font-weight: bold !important;
}

.token.italic {
  font-style: italic !important;
}

.token.entity {
  cursor: help !important;
}

pre.line-numbers {
  position: relative !important;
  padding-left: 3.8em !important;
  counter-reset: linenumber !important;
}

pre.line-numbers > code {
  position: relative !important;
}

.line-numbers .line-numbers-rows {
  position: absolute !important;
  pointer-events: none !important;
  top: 0 !important;
  font-size: 100% !important;
  left: -3.8em !important;
  width: 3em !important; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px !important;
  border-right: 0 !important;

  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.line-numbers-rows > span {
  pointer-events: none !important;
  display: block !important;
  counter-increment: linenumber !important;
}

.line-numbers-rows > span:before {
  content: counter(linenumber) !important;
  color: var(--syntax-gray-1) !important;
  display: block !important;
  padding-right: 0.8em !important;
  text-align: right !important;
}